@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<iframe width="853" height="480" src="https://www.youtube.com/embed/XpRcz8DSSqo" title="#Kishkindhapuri Official Trailer | Bellamkonda Sai Sreenivas | Anupama Parameshwaran | Hyper Aadi" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<iframe width="853" height="480" src="https://www.youtube.com/embed/9VOIy6iUyLY" title="#LittleHearts Official Trailer | Mouli | Shivani | Sai Marthand | Bunny Vas | Aditya Hasan" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
